@media only screen and (max-width: 680px) {
  @import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  audio {
    display: none;
  }

.background {
    position: fixed; /* Menetapkan posisi elemen menjadi tetap terhadap viewport */
    top: 50%; /* Memposisikan bagian atas elemen di tengah viewport secara vertikal */
    left: 30%; /* Memposisikan sisi kiri elemen di tengah viewport secara horizontal */
    transform: translate(-45%, -50%); /* Menggeser elemen ke atas dan ke kiri sebesar setengah lebar dan tingginya untuk memusatkannya secara sempurna */
    z-index: -2; /* Menempatkan elemen di belakang elemen lain dengan z-index yang lebih tinggi */
    width: 100%; /* Mengatur lebar elemen agar memenuhi lebar viewport */
    filter: blur(5px) brightness(80%) contrast(90%); /* Menambahkan efek blur, kecerahan, dan kontras pada elemen */
}


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 10% auto 0;
    height: fit-content;
    width: 65%;
    padding: 1rem;
    border-radius: 10%;
    background-color: rgba(245, 121, 142, 0.419);

  }

  .glow::before,
  .glow::after {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    background: linear-gradient(
      45deg,
      #ff0000,
      #00ff00,
      #0000ff,
      #ff00ff,
      #800080,
      #008080,
      #808000,
      #800000
    ); /* Add 8 more colors */
    height: calc(100% + 5px);
    background-size: 400%;
    z-index: -1;
    animation: animate 20s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .glow::before {
    filter: blur(20px);
  }

  .glow::after {
    filter: blur(20px);
  }

  h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */

  }

  .title {
    color: rgb(226, 6, 6);
    text-shadow: 2px 2px 4px rgba(214, 36, 227, 0.5); /* Efek bayangan teks */

  }

  .surat {
    width: 80%;
    height: auto;
  }

  .lyricContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    text-align: center;
    color: black;
    margin-top: 3vh;
    width: 80%;
    height: fit-content;
  }

  .fade-in {
    animation: fadeIn 0.3s forwards;
    opacity: 0; /* Awalnya sembunyikan lirik */
    transform: translateX(100%); /* Geser lirik ke kanan */
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Kembali ke posisi awal */
    }
  }

  .fade-out {
    animation: fadeOut 0.3s forwards;
    opacity: 1; /* Awalnya lirik terlihat */
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(0); /* Posisi awal */
    }
    100% {
      opacity: 0;
      transform: translateX(-100%); /* Geser ke kiri */
    }
  }

  .lyricText {
    font-family: "Bebas Neue", sans-serif; /* Mengatur jenis font menjadi Bebas Neue */
    color: white; /* Mengatur warna teks menjadi putih */
    font-size: 24px; /* Mengatur ukuran font menjadi 24 piksel (sesuaikan sesuai kebutuhan) */
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
  }
}
